.dash-wrapper{
justify-content: space-around;
padding: 15px;
}
.image{
    z-index: -2;
}
.menu-items{

    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(29, 99, 41, 0.8) 100%); 
    text-align: center;
    height: 250px;
}
.title{
    z-index: 5;
    font-size: 25px; 
    top: 50%;
    position: absolute;
    color: rgb(221, 21, 21);
    font-weight: bolder;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px rgb(255, 255, 255); 
  
}

    


